@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap');

:root {
    --main-color: rgba(211, 112, 116, 1);
    --secondary-color: rgb(255, 228, 227);
    --complementary-color: rgba(137, 147, 70, 1);
    --light-color: rgb(247, 247, 239);
    
    --block-font: "Roboto";
    --light-font: "Arial";
    --script-font: 'Dawning of a New Day';
    
}
html {
    background: var(--secondary-color);
}
body {
    position: relative;

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#content {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 0 5vw 0;
    background: var(--secondary-color);
}
.page-container {
    height: 100%;
    width: 100%;
}
/* HEADER =================================== */
/* title/subtitle */
.header {
    position: relative;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--main-color);
    box-shadow: 0 2px 2px rgba(0,0,0,.25);
    z-index: 2;
}
.title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.title-container h1,
.title-container p {
    color: var(--secondary-color);
}
.title-container h1 {
    margin: 1.2em 0 0 0;
    font-family: var(--block-font);
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0,0,0,.3);
}
.title-container p {
    margin: 0 0 1em 0;
    font-family: var(--script-font);
    font-size: 2em;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0,0,0,.15);
}
/* tabs */
.tabs-container {
    width: 70vw;
    margin: 0 auto;
}
.tabs-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.tabs-container li {
    margin: 0;
    padding: 0;
    width: 16vw;
    height: 60px;
    display: grid;
    align-content: center;
    text-align: center;
    background: var(--main-color);
    box-shadow: 2px 2px 2px rgba(0,0,0,.25);
}
.tabs-container a {
    text-decoration: none;
    font-family: var(--script-font);
    font-size: 2em;
    font-weight: 600;
    color: var(--secondary-color);
    text-shadow: 2px 2px 4px rgba(0,0,0,.15);
}
.tab-active {
    position: relative;
    z-index: 3;
}
/* end header =============================== */
/* FOOTER =================================== */
.footer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background: var(--main-color);
    box-shadow: -2px 0 4px rgba(0,0,0,.5);
}
.footer-text {
    margin-left: 1em;
    font-family: var(--light-font);
    color: var(--secondary-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
}
.footer-icons {
    list-style: none;
    display: flex;
    margin: 0 0 0 auto;
}
.footer-icons img {
    height: 25px;
    width: 25px;
    margin: 0 1em;
    padding: 0;
    filter: invert(83%) 
    sepia(4%) 
    saturate(1139%) 
    hue-rotate(314deg) 
    brightness(104%) 
    contrast(115%)
    drop-shadow(1px 1px 2px rgba(0, 0, 0, .25));
}
/* end footer =============================== */
/* HOME PAGE ================================ */
/* hero image */
.home-page-container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.hero-img {
    position: relative;
    height: 400px;
    width: 70vw;
    margin: 5vw auto 0 auto;
    background-image: url('./images/scallops.jpg');
    background-size: cover;
    box-shadow: 2px 2px 4px rgba(0,0,0,.25);
}
.hero-img-accent {
    width: 60vw;
    height: 2vw;
    margin: 0 auto;
    background: var(--complementary-color);
}
.about-container {
    width: 70vw;
    margin: 2vw auto;
    display: flex;
    justify-content: space-between;
}
.about-text {
    width: 26vw;
    height: 360px;
    margin: 2em 0 2em 2vw;
    padding: 20px 2vw;
    font-family: var(--light-font);
    color: rgba(0,0,0,.75);
    font-size: 1.2em;
    line-height: 2.4;
    text-align: justify;
    background: var(--light-color);
    box-shadow: 2px 2px 4px rgba(0,0,0,.25),
                -2vw -2vw 0 var(--complementary-color);
}
.about-text::first-letter {
    color: var(--main-color);
    float: left;
    font-size: 3.2em;
    font-weight: 600;
    line-height: 1;
    margin: 0;
    padding: 0;
}
#accent-word {
    font-weight: 600;
    color: var(--main-color);
}
.about-img {
    font-size: 1.2em;
    height: 400px;
    width: 30vw;
    margin: 2em 2vw 0 0;
    background-image: url('./images/chef.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 4px rgba(0,0,0,.25),
                2vw 2vw 0 var(--complementary-color);
}
.home-bottom-text {
    margin: 0;
    text-align: center;
    font-family: var(--script-font);
    font-size: 3em;
    font-weight: 600;
    color: var(--main-color);
    text-shadow: 1px 1px 2px rgba(0,0,0,.15);
}
/* end home page ============================ */
/* MENU PAGES =========================== */
.victurals-page-container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.menu-header {
    position: relative;
    width: 70vw;
    height: 120px;
    margin: 5vw auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    box-shadow: 2px 2px 4px rgba(0,0,0,.25);
}
.menu-header-accent {
    width: 60vw;
    height: 2vw;
    margin: 0 auto;
    background: var(--complementary-color);
}
.menu-title {
    font-family: var(--script-font);
    font-size: 3em;
    font-weight: 600;
    color: var(--secondary-color);
    text-shadow: 2px 2px 4px rgba(0,0,0,.3);

}
/* menu page images */
.menu-img {
    width: 70vw;
    height: 400px;
    margin: 2vw auto 0 auto;
    box-shadow: 2px 2px 4px rgba(0,0,0,.25);
}
.farm-menu-img {
    background-image: url('./images/tartare.jpg');
    background-size: cover;
    background-position: center;
}
.drink-menu-img {
    background-image: url('./images/whiskey.jpg');
    background-size: cover;
    background-position: top;
}
.menu {
    width: 70vw;
    margin: 2vw auto;
    padding: 2em 0;
    background: var(--light-color);
    box-shadow: 2px 2px 4px rgba(0,0,0,.25);
}
.menu-row-container {
    margin: 2em 5vw;
}
.menu-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu-item {
    margin: 0 0 .5em 0;
    white-space: nowrap;
    text-align: center;
    color: var(--main-color);
    font-family: var(--light-font);
    font-size: 1.2em;
    text-shadow: 1px 1px 2px rgba(0,0,0,.15);
}
.menu-item-description {
    margin: 0;
    padding: 0;
    font-family: var(--light-font);
    font-size: 1em;
    color: var(--main-color);
    opacity: .75;
    text-shadow: 1px 1px 2px rgba(0,0,0,.15);
}
.menu-item-spacer {
    position: relative;
    margin: 0 1em;
    width: 80%;
    height: 2px;
    background: var(--complementary-color);
    border-radius: 2px;
    opacity: .5;
}
.menu-item-spacer::after {
    position:absolute;
    content: "";
    height: 2px;
    width: 95%;
    top: 5px;
    left: 2.5%;
    background: var(--main-color);
}
.menu-item-spacer::before {
    position:absolute;
    content: "";
    height: 2px;
    width: 95%;
    top: -5px;
    left: 2.5%;
    background: var(--main-color);
}
/* end menu pages ======================= */
/* CONTACT PAGE ========================= */
.contact-header-accent {
    width: 60vw;
    height: 2vw;
    margin: 0 auto;
    background: var(--complementary-color);
}
.contact-container {
    width: 40vw;
    margin: 5vw 30vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--light-color);
    box-shadow: 2px 2px 4px rgba(0,0,0,.25),
                2vw 2vw 0 var(--complementary-color);
}
.contact-info {
    margin: 1.2em 0;
    line-height: 1.4;
    color: var(--main-color);
    font-family: var(--light-font);
    font-size: 1.4em;
    text-shadow: 1px 1px 2px rgba(0,0,0,.15);
}