@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap');

:root {
    --main-color: rgba(211, 112, 116, 1);
    --secondary-color: rgba(255, 228, 227, 1);
    --complementary-color: rgba(137, 147, 70, 1);
    
    --block-font: "Roboto";
    --script-font: 'Dawning of a New Day';
    
}

body {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
/* HEADER =================================== */
/* title/subtitle */
.header {
    position: relative;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--main-color);
    box-shadow: 0 2px 2px rgba(0,0,0,.25);
    z-index: 2;
}
.title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.title-container h1,
.title-container p {
    color: var(--secondary-color);
    text-shadow: 2px 2px 4px rgba(0,0,0,.3);
}
.title-container h1 {
    margin: 1.2em 0 0 0;
    font-family: var(--block-font);
    font-size: 3em;
}
.title-container p {
    margin: 0 0 1em 0;
    font-family: var(--script-font);
    font-size: 2em;
    font-weight: 600;
}
/* tabs */
.tabs-container {
    margin: 0 15vw;
}
.tabs-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.tabs-container li {
    width: 250px;
    height: 60px;
    display: grid;
    align-content: center;
    text-align: center;
    background: var(--main-color);
    box-shadow: 2px 2px 2px rgba(0,0,0,.25);
}
.tabs-container a {
    text-decoration: none;
    font-family: var(--script-font);
    font-size: 2.6em;
    font-weight: 600;
    color: var(--secondary-color);
    text-shadow: 2px 2px 4px rgba(0,0,0,.3);
}
.tab-active {
    position: relative;
    z-index: 3;
}
/* end header =============================== */
/* HOME PAGE ================================ */
/* hero image */
.home-page-container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.hero-img {
    position: relative;
    height: 400px;
    width: 70vw;
    margin: 60px auto;
    background-image: url('/static/images/scallops.jpg');
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 2px 2px 4px rgba(0,0,0,.25);
}
.hero-img::before {
    position: absolute;
    content: "";
    bottom: 1px;
    left: 5vw;
    height: 30px;
    width: 60vw;
    box-shadow: 0 30px 0 var(--complementary-color);
}
/* end home page ============================ */
